.buttonBox{
	       width:87%;
	       height:30px;
	       display: flex;
	       align-content: center;
	       justify-content:space-around;
}
.button{
			background:#ff3289;
			cursor:pointer;
			width:60px;
			height:30px;
			border-radius: 4px;
			font-weight: bold;
	        color:#fff;
		}
		.button:HOVER {background:#49f;color:#fff}
		.divc{
			background:#ccc;
			text-align: center;
			padding-top: 15px;
			padding-bottom: 10px;
			margin-left: 37%;
			margin-right: 35%;
			margin-top: 27%;
			border: 5px solid #005eac;
			border-radius: 10px;
		}
		.inputc{
			height:25px;
			border-radius: 4px;
			padding-left:5px;
			 background:#fee
		}
		.notec{
			float:right;
			color:#f00;
			margin-right: 5px;
			font-weight: bold;
			visibility: hidden;
		}